.grid{
    background-color: rgba(0,0,0,0.07);
    padding: 20px;
    margin: 10px 15%;
    border-radius: 30px;
    

    @media only screen and (max-width: 650px)  {
        margin: 10px 5%;
        font-size: 0.9rem;
        padding: 10px;
    }
    @media only screen and (max-width: 420px)  {
        margin: 10px 1%;
        font-size: 0.8rem;
        padding: 5px;
    }

   

    &--header-row{
        font-weight: 500;
        border-bottom: 2px solid #fff;
    }

    &--data-data{
        border-bottom: 2px solid #fff;
    }
    
}

ion-row {
    text-align: center;
    }

.search{
    width: 70%;
    margin: 10px 15%; 
    @media only screen and (max-width: 650px)  {
        width: 90%;
        margin: 10px 5%;
        font-size: 0.9rem;
    }
    @media only screen and (max-width: 420px)  {
        width: 98%;
        margin: 10px 1%;
        font-size: 0.8rem;
    }
}